.typeButton {
    width: 17rem;
  height: 2.5rem;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  border-radius: 2rem;
  stroke: black;
  stroke-width: 2rem;
  margin-top: 1rem;
  background: rgb(250, 175, 66);
  background: linear-gradient(
    180deg,
    rgba(250, 175, 66, 1) 0%,
    rgba(250, 173, 65, 1) 15%,
    rgba(249, 167, 65, 1) 21%,
    rgba(247, 157, 64, 1) 25%,
    rgba(246, 142, 63, 1) 28%,
    rgba(244, 124, 61, 1) 32%,
    rgba(241, 99, 58, 1) 34%,
    rgba(240, 83, 57, 1) 100%
  );
  z-index: 1;
}

.typeButton:hover{
    background: rgb(250, 175, 66);
  background: linear-gradient(
    180deg,
    rgb(224, 158, 59) 0%,
    rgb(216, 149, 56) 15%,
    rgb(206, 138, 54) 21%,
    rgb(202, 127, 53) 25%,
    rgb(213, 124, 56) 28%,
    rgb(206, 107, 53) 32%,
    rgb(214, 88, 53) 34%,
    rgb(205, 73, 49) 100%
  );
    transition: 300ms ease-in;
    cursor: pointer;
}