.descriptionContainer {
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 16rem;
    font-size: 11px;
    text-align: center;
    line-height: 1.2rem;
    margin-top: 1rem;
}