  .selection_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 50%);
    gap: 0.5rem;
    width: 90%;
  }
  
  .cuteMonster {
    position: absolute;
    top: 1.8rem;
    left: 50%;
    transform: translate(-100%, 0%);
    z-index: 1;
    height: 6.5rem;
  }
  
  .buttonLabel {
    margin-top: 0.5rem;
  }
  
  .headingText {
    font-size: 18px;
    text-align: center;
  }
  
  #boldText {
    font-weight: 600;
  }
  
  #colorText {
    color: #59bba6;
    font-weight: 600;
  }

  .backgroundContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .backgroundContainer img {
    width: 100%;
    margin-top: -3rem;
  }
  