.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  margin-top: 2rem;;
}

.content_container {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
  @media (max-width: 864px) {
    width: 100%;
  }
}

.selection_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5rem;
  gap: 0.4rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

.cuteMonster {
  position: absolute;
  top: 3.8rem;
  left: 50%;
  transform: translate(-100%, 0%);
}

.selection_buttons button {
  width: 16rem;
  height: 2.5rem;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  border-radius: 2rem;
  stroke: black;
  stroke-width: 2rem;
  margin-top: 1rem;
  background: rgb(250, 175, 66);
  background: linear-gradient(
    180deg,
    rgba(250, 175, 66, 1) 0%,
    rgba(250, 173, 65, 1) 15%,
    rgba(249, 167, 65, 1) 21%,
    rgba(247, 157, 64, 1) 25%,
    rgba(246, 142, 63, 1) 28%,
    rgba(244, 124, 61, 1) 32%,
    rgba(241, 99, 58, 1) 34%,
    rgba(240, 83, 57, 1) 100%
  );
  z-index: 1;
}

.backgroundContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 4rem;
}

.headingText {
  font-size: 18px;
  text-align: center;
}

#boldText {
  font-weight: 600;
}

#colorText {
  color: #59bba6;
  font-weight: 600;
}

.moreLogosContainer{
  display: flex;
  justify-content: center;
  margin-top: 19rem;
}
